.live-page-main{
  padding: 22px;
}
.main-view-live{
height: 100vh;
width: 100vw;
position: relative;
background-color: black;
}
.camera-view{
  flex:1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-item{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.footer-view{
  padding: 22px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.full-screen-dialog{
  height: 100vh;
  width: 100vw;
  padding: 0px;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  margin: 0 !important;
}

.start-top-layer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  top:0
}

.live-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.stream-image-div{
  width:100%;
  height: 160px;
  position: relative;
}

.stream-image-card{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.create-stream-dialog-main{
  padding:28px;
  display: flex;
  flex-direction: column;
}

.image-main{
  width: 100%;
  height: auto;
  object-fit: contain;
}

.image-upload-row{
  display: flex;
}

.custom-input{
  height: 42px;
  border-radius: 12px;
  padding-left: 12px;
}

.multiline-input{
  height: 98px;
  border-radius: 12px;
  padding-left: 12px;
}

.preview-image{
  flex:1;
}

.chat-box-main{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 380px;
  background-color: white; 
  padding: 18px;
  display: flex;
  flex-direction: column;
}

.chat-message-list{
  flex:1
}

.message-box{
  padding: 6px;
  border-radius: 4px;
  background-color: lightgray;
  width: max-content;
  
}

.message-text{
  font-size: 12px !important;
  color: black;
  font-weight: 400 !important;
}

.date-text{
  font-size: 8px !important;
  color: lightgray;
  font-weight: 400 !important;
  margin-top: 2px;
}

.footer-chat{
  display: flex;
  flex-direction: row;
}

.message-input{
  flex:1;
  height: 38px;
  padding-left: 12px;
}

.send-button{
  font-size: 12px;
  font-weight: bold;
  margin-left: 12px;
}

.close-row-view{
  display: flex;
  justify-content: flex-end;
}

.close-top-left{
  /* position: absolute; */
  /* top: 32px;
  left: 32px; */
  padding: 12px;
  background-color: white;
  height: 30px;
  z-index: 9999999;
  width: 30px;
}
.chat-icon-button{
  padding: 4px;
  cursor: pointer;
}

.stream-title{
  margin-top: 8px;
}

.stream-details{
  font-size: 10px;
  color: gray;
  margin-top: -6px;
}

.stream-date{
  font-size: 10px;
  color: lightgray;
  margin-top: 6px;
}

.live-lable-vide{
  position: absolute;
  right: 12px;
  top: 12px;
  padding: 4px;
  border-radius: 6px;
  background-color: red;
  
}

.live-lable{
  font-size: 15px;
  color: white;
  font-weight: bold;
  margin-top: 0;
}

.category-drop-button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
}

.dateTimeContainer{
  margin-top: 22px;
}

.dateTimeItem{
  padding: 12px;
}

.dateTimeInput{
  height: 42px;
  width: 100%;
  margin-top: 8px;
  border-radius: 8px;
}

.outlineButton{
  background: white !important;
  color: #FF1744 !important;
  border: 1px solid #FF1744 !important;
}

.stream-not-start-div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.stream-not-start-text{
  color: white;
}

@media only screen and (max-width: 480px) {


  }

